.fila_head{
    font-size: 95%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-variant: normal;
    color: red;
}
table{
    background-color: yellow;
    border-collapse: collapse;
    border-bottom-style: dashed;
    border-color: red;
    border: 1px dotted black;
    margin: 0% auto;
}
td{ 
    border:1px dotted black;
}